html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0A0B;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
}

::-webkit-scrollbar-thumb:hover {
  background: #F3D573;
}
